body {
  background-color: orange;
}

body,html{
  margin: 0;
  padding: 0;
}

#titleBar {
  position: fixed;
  height: 200px;
  width: 100%;
  background-color: lightsteelblue;
  text-align: center;
}

#title {
  font-size: 24pt;
  color: black;
  margin: auto;
  vertical-align: middle;
}

#slideBar {
  position: fixed;
  height: 40px;
  width: 100%;
  top: 210px;
  overflow: hidden;
  background-color: #5c5c5c;
}

.sliderImgs {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
}

#bound1 {
  top: 200px;
}

#bound2 {
  top: 250px;
}

.boundaryBar {
  position: fixed;
  height: 10px;
  width: 100%;
  background-color: black;
}

#content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 260px;
  height: 2000px;
  width: 100%;
}

#navbar {
  position: fixed;
  background-color: #5c5c5c;
  height: 100%;
  width: 200px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
