body {
  background-color: black;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: max-content;
}

body, html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: custom;
  src: url(../media/fonts/tex.ttf);
}
#titleBar {
  position: fixed;
  height: 150px;
  width: 100%;
  background-image: url("../media/images/misc/collision.png");
  background-attachment: fixed;
  background-position-y: -500px;
  margin: auto;
}

#slideBar {
  position: fixed;
  height: 40px;
  width: 100%;
  top: 160px;
  overflow: hidden;
  background-color: lightsteelblue;
}

.sliderImgs {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
}

#bound1 {
  top: 150px;
}

#bound2 {
  top: 200px;
}

.boundaryBar {
  position: fixed;
  height: 10px;
  width: 100%;
  background-color: black;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.currentPage {
  background-color: black !important;
}
.currentPage a {
  color: lightsteelblue;
}

#navBar {
  position: fixed;
  background-color: lightsteelblue;
  border-right: 10px solid black;
  height: 100%;
  width: 200px;
  top: 210px;
}

.navItem {
  width: 190;
  height: 50px;
  background-color: lightsteelblue;
  color: black;
  margin: auto;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.navItem:hover {
  background-color: black;
}
.navItem:hover a {
  color: lightsteelblue !important;
}
.navItem:focus {
  color: orange;
}

#viewport {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 210px;
  left: 210px;
  width: calc(100% - 210px);
  float: right;
  z-index: -1;
}

#searchBar {
  position: fixed;
  z-index: 1;
  margin: auto;
  text-align: center;
  color: #ff8500;
  background-color: black;
  width: 100%;
  height: 75px;
  overflow-y: auto;
}
#searchBar label {
  font-size: 20px;
  font-weight: bold;
}

.searchSelect {
  border: 5px solid #ff8500;
  border-radius: 5px;
  display: inline-block;
  padding: 0.6em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  margin: 10px 75px 10px 5px;
}
.searchSelect:hover {
  border-color: lightsteelblue;
}

.entry {
  position: relative;
  width: 100%;
  height: 250px;
  border-bottom: 10px solid black;
  text-align: left;
  margin: auto;
  font-size: 20px;
}

#results {
  margin: auto;
  overflow: auto;
  position: relative;
  top: 75px;
  width: 100%;
  height: max-content;
  text-align: left;
}

.responseItem {
  width: 146px;
  height: 146px;
  position: relative;
  margin: 15px;
  padding: 0;
  line-height: 35px;
  float: left;
  color: black;
  border: 5px solid white;
  border-radius: 25px;
  text-align: center;
  background-position: center;
  background-size: cover;
  transition: all 0.2s;
}
.responseItem:hover {
  margin: 0px;
  padding: 15px;
}
.responseItem:hover .responseFader {
  opacity: 1;
}

.responseFader {
  opacity: 0;
  border-radius: inherit;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  line-height: inherit;
  font-size: 20px;
  height: max-content;
  width: 100%;
  transition: all 0.2s;
  background: rgba(0, 0, 0, 0.75);
}

#back {
  background-color: #ff8500;
  width: 100px;
  height: 50px;
  border: 5px solid lightsteelblue;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

#itemProfile {
  margin: auto;
  width: 240px;
  border: 5px solid lightsteelblue;
  border-radius: 25px;
  background-color: #ff8500;
  height: max-content;
}

#thumbnail {
  display: inline-block;
  width: 240px;
  height: 240px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 5px solid lightsteelblue;
  background-size: cover;
  background-position: center;
}

#profileDetails {
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#profileDetails div {
  display: inline-block;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
}

.labels {
  width: 80px;
  border-right: 2px solid black;
}

.details {
  width: 158px;
}

/*# sourceMappingURL=app.css.map */
