body {
    background-color: black;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: max-content;
}

body, html{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: custom;
    src: url(../media/fonts/tex.ttf);
}

#titleBar {
    position: fixed;
    height: 150px;
    width: 100%;
    background-image: url('../media/images/misc/collision.png');
    background-attachment: fixed;
    background-position-y: -500px;
    margin: auto;
}

#slideBar {
    position: fixed;
    height: 40px;
    width: 100%;
    top: 160px;
    overflow: hidden;
    background-color: lightsteelblue;
}

.sliderImgs {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
}

#bound1 {
    top: 150px;
}

#bound2 {
    top: 200px;
}

.boundaryBar {
    position: fixed;
    height: 10px;
    width: 100%;
    background-color: black;
}

a {
    text-decoration: none;
    &:visited {
        color: black;
    }
}

.currentPage {
    background-color: black !important;
    a {
        color: lightsteelblue;
    }
}

#navBar {
    position: fixed;
    background-color: lightsteelblue;
    border-right: 10px solid black;
    height: 100%;
    width: 200px;
    top: 210px;
}

.navItem {
    width: 190;
    height: 50px;
    background-color: lightsteelblue;
    color: black;
    margin: auto;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    &:hover {
        background-color: black;

        a {
            color: lightsteelblue !important;
        }
    }
    &:focus {
        color: orange;
    }
}

#viewport {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 210px;
    left: 210px;
    width: calc(100% - 210px);
    float: right;
    z-index: -1;
}

#searchBar {
    position: fixed;
    z-index: 1;
    margin: auto;
    text-align: center;
    color: rgb(255, 133, 0);
    background-color: black;
    width: 100%;
    height: 75px;
    overflow-y: auto;
    label {
        font-size: 20px;
        font-weight: bold;
    }
}

.searchSelect {
    border: 5px solid rgb(255, 133, 0);
    border-radius: 5px;
    display: inline-block;
    padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    margin: 10px 75px 10px 5px;
    &:hover {
        border-color: lightsteelblue;
    }
}

.entry {
    position: relative;
    width: 100%;
    height: 250px;
    border-bottom: 10px solid black;
    text-align: left;
    margin: auto;
    font-size: 20px;
}

#results {
    position: relative;
    top: 75px;
    width: calc(100% - 5px);
    height: 100%;
    text-align: left;
}

.responseItem {
    width: 146px;
    height: 146px;
    display: inline-block;
    margin: 15px;
    padding: 0;
    overflow: hidden;
    line-height: 35px;
    color: black;
    border: 5px solid white;
    border-radius: 25px;
    text-align: center;
    background-position: center;
    background-size: cover;
    &:hover {
        margin: 0px;
        padding: 15px;
        .responseFader {
            opacity: 1;
        }
    }
}

.responseFader {
    opacity: 0;
    border-radius: inherit;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    line-height: inherit;
    font-size: 20px;
    width: 95%;
    transition: all .2s;
    background: rgb(0,0,0,.75);
}

#back {
    background-color: black;
    width: 100px;
    height: 35px;
    border: 2px solid rgb(255, 133, 0);
    line-height: 15px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    color: lightsteelblue;
    margin-top: 20px;
    margin-left: 20px;
}

#itemProfile {
    margin: auto;
    width: 240px;
    border: 5px solid lightsteelblue;
    border-radius: 25px;
    background-color: rgb(255, 133, 0);
    height: max-content;
}

#thumbnail {
    display: inline-block;
    width: 240px;
    height: 240px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 5px solid lightsteelblue;
    background-size: cover;
    background-position: center;
}

#profileDetails {
    font-weight: bold;
    text-align: center;
    width: 100%;
    div {
        display: inline-block;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
    }
}

.labels {
    width: 80px;
    border-right: 2px solid black;
}

.details {
    width: 158px;
}